trigger:
  branches:
    include:
      - master

variables:
  - group: DB-Credentials

stages:
  - stage: Build
    displayName: 'CI - Build, Test and Push Image'
    jobs:
      - job: BuildJob
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Gradle@2
            inputs:
              gradleWrapperFile: 'gradlew'
              tasks: 'clean build'
              publishJUnitResults: true
              testResultsFiles: '**/build/test-results/test/*.xml'
          - task: Docker@2
            displayName: Build and Push Image to ACR
            inputs:
              containerRegistry: 'ACRConnection'
              repository: 'visionhive-app'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: |
                $(Build.BuildId)
  - stage: Deploy
    displayName: 'CD - Deploy to Azure Web App'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployJob
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: AzureWebAppContainer@1
            displayName: 'Deploy Image to Web App'
            inputs:
              azureSubscription: 'AzureConnection'
              appName: 'visionhive-app'
              imageName: 'visionhiveacr.azurecr.io/visionhive-app:$(Build.BuildId)'
