trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: visionhive-secrets
    TAG: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: 'Build & Push Docker'
    jobs:
      - job: BuildAndPush
        steps:
          - task: Gradle@3
            inputs:
              gradleWrapperFile: 'gradlew'
              tasks: 'clean bootJar'
              jdkVersionOption: '1.17'

          - task: Docker@2
            displayName: 'Build & Push to ACR'
            inputs:
              containerRegistry: 'acr-visionhive'
              repository: '$(IMAGE_NAME)'
              command: 'buildAndPush'
              Dockerfile: 'Dockerfile'
              tags: '$(TAG)'

  - stage: Deploy
    displayName: 'Deploy to ACI'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployACI
        steps:
          - task: AzureCLI@2
            displayName: 'Deploy Container to ACI'
            inputs:
              azureSubscription: 'azure-visionhive'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az container create \
                  --resource-group $(AZURE_RESOURCE_GROUP) \
                  --name $(ACI_NAME) \
                  --image $(ACR_NAME).azurecr.io/$(IMAGE_NAME):$(TAG) \
                  --cpu 1 \
                  --memory 1.5 \
                  --registry-login-server $(ACR_NAME).azurecr.io \
                  --registry-username $(az acr credential show --name $(ACR_NAME) --query username -o tsv) \
                  --registry-password $(az acr credential show --name $(ACR_NAME) --query "passwords[0].value" -o tsv) \
                  --dns-name-label $(ACI_NAME)-$(Build.BuildId) \
                  --ports 8080 \
                  --environment-variables \
                    AZURE_SQL_SERVER='$(AZURE_SQL_SERVER)' \
                    AZURE_SQL_DB='$(AZURE_SQL_DB)' \
                    AZURE_SQL_USER='$(AZURE_SQL_USER)' \
                    AZURE_SQL_PASSWORD='$(AZURE_SQL_PASSWORD)' \
                  --restart-policy Always \
                  --os-type Linux