trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: visionhive-secrets
  - name: TAG
    value: '$(Build.BuildId)'
  - name: ACR_FULL_NAME
    value: '$(ACR_NAME).azurecr.io'

stages:
  - stage: Build
    displayName: 'Build & Push Docker'
    jobs:
      - job: BuildAndPush
        steps:
          - task: Gradle@3
            inputs:
              gradleWrapperFile: 'gradlew'
              tasks: 'clean bootJar'
              jdkVersionOption: '1.17'

          - task: Docker@2
            displayName: 'Build & Push to ACR'
            inputs:
              containerRegistry: 'visionhiveacr'
              repository: '$(IMAGE_NAME)'
              command: 'buildAndPush'
              Dockerfile: 'Dockerfile'
              tags: '$(TAG)'

  - stage: Deploy
    displayName: 'Deploy to ACI'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DeployACI
        steps:
          - task: AzureCLI@2
            displayName: 'Deploy ACI + SQL Firewall'
            inputs:
              azureSubscription: 'azure-visionhive'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az sql server firewall-rule create \
                  --resource-group $(AZURE_RESOURCE_GROUP) \
                  --server visionhive-server \
                  --name AllowAzureServices \
                  --start-ip-address 0.0.0.0 \
                  --end-ip-address 0.0.0.0 \
                  --output none

                az container create \
                  --resource-group $(AZURE_RESOURCE_GROUP) \
                  --name $(ACI_NAME) \
                  --image $(ACR_FULL_NAME)/$(IMAGE_NAME):$(TAG) \
                  --cpu 1 \
                  --memory 2.0 \
                  --dns-name-label visionhive-aci \
                  --ports 8080 \
                  --environment-variables \
                    AZURE_SQL_SERVER=$(AZURE_SQL_SERVER) \
                    AZURE_SQL_DB=$(AZURE_SQL_DB) \
                    AZURE_SQL_USER=$(AZURE_SQL_USER) \
                  --secure-environment-variables \
                    AZURE_SQL_PASSWORD=$(AZURE_SQL_PASSWORD) \
                  --restart-policy Always