trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  -group: DB-Credentials
  WEB_APP_NAME: 'visionhive'
  RESOURCE_GROUP: 'rg-visionhive'

stages:
  - stage: Build
    displayName: 'Build & Test & Docker'
    jobs:
      - job: Build
        steps:
          - task: Gradle@3
            inputs:
              gradleWrapperFile: 'gradlew'
              tasks: 'clean bootJar test'
              publishJUnitResults: true
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.17'
            displayName: 'Build com Gradle'

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: 'build/libs'
              artifact: 'jar'
            displayName: 'Publicar JAR'

          - script: |
              echo "Construindo imagem Docker..."
              docker build -t $(WEB_APP_NAME):$(Build.BuildId) .
            displayName: 'Build Docker Image'

          - task: Docker@2
            inputs:
              command: 'login'
              containerRegistry: 'azure-container-registry'
            condition: failed()
            displayName: 'Login ACR'

  - stage: Deploy
    displayName: 'Deploy no Web App'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: Deploy
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  inputs:
                    azureSubscription: 'Azure subscription'
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      az webapp config container set \
                        --name $(WEB_APP_NAME) \
                        --resource-group $(RESOURCE_GROUP) \
                        --docker-custom-image-name $(WEB_APP_NAME):$(Build.BuildId) \
                        --docker-registry-server-url https://index.docker.io
                  displayName: 'Deploy Docker no Web App'