trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: visionhive-secrets
    AZURE_SQL_SERVER: 'visionhive-server.database.windows.net'
    AZURE_SQL_DB: 'visionhive-db'

stages:
  - stage: Build
    displayName: 'Build & Test'
    jobs:
      - job: Build
        steps:
          - task: Gradle@3
            inputs:
              gradleWrapperFile: 'gradlew'
              tasks: 'clean bootJar'
              publishJUnitResults: true
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.17'

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: 'build/libs/app.jar'
              artifact: 'drop'

  - stage: Deploy
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: Deploy
        steps:
          - download: current
            artifact: 'drop'

          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'azure-visionhive'
              appType: 'webAppLinux'
              appName: 'visionhive-app'
              imageName: 'openjdk:17-jre-slim'
              package: '$(Pipeline.Workspace)/drop/app.jar'
              appSettings: |
                -AZURE_SQL_SERVER $(AZURE_SQL_SERVER)
                -AZURE_SQL_DB $(AZURE_SQL_DB)
                -AZURE_SQL_USER $(AZURE_SQL_USER)
                -AZURE_SQL_PASSWORD $(AZURE_SQL_PASSWORD)
                -WEBSITES_PORT 8080