trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  -group: DB-Credentials
  WEB_APP_NAME: 'visionhive'
  RESOURCE_GROUP: 'rg-visionhive'

stages:
  - stage: Build
    displayName: 'Build & Test & Docker'
    jobs:
      - job: Build
        steps:
          - task: Gradle@3
            inputs:
              gradleWrapperFile: 'gradlew'
              tasks: 'clean bootJar'
              publishJUnitResults: true
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.17'
            displayName: 'Build com Gradle'

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: 'build/libs'
              artifact: 'jar-artifact'
              publishLocation: 'pipeline'
            displayName: 'Publicar JAR'

          - script: |
              echo "Construindo imagem Docker..."
              docker build -t $$ (WEB_APP_NAME): $$(IMAGE_TAG) .
            displayName: 'Build Docker Image'

  - stage: Deploy
    displayName: 'CD: Deploy no Web App'
    dependsOn: Build
    condition: succeeded()
    jobs:
    - deployment: DeployWebApp
      environment: 'production'
      strategy:
        runOnce:
          deploy:
            steps:
            - task: AzureWebAppContainer@1
              inputs:
                azureSubscription: 'Azure subscription'
                appName: $(WEB_APP_NAME)
                imageName: '$$ (WEB_APP_NAME): $$(IMAGE_TAG)'
                resourceGroupName: $(RESOURCE_GROUP)
              displayName: 'Deploy Docker no Azure Web App'